<#import "/base/baseUrl.html" as baseUrl>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改角色</title>
    <!-- 页面通用jsCSS -->
    <#include "/base/baseJs.html"/>
</head>
<body>
<div class="er-content">
    <fieldset class="layui-elem-field layui-field-title" style="">
        <legend>修改角色</legend>
    </fieldset>
    <form class="layui-form layui-form-pane" action="" id="form">
        <input type="text" name="id" value="${role.id}" lay-verify="id" autocomplete="off" class="layui-input" style="display: none">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">角色名</label>
                <div class="layui-input-block">
                    <input type="text" id="name" name="name" value="${role.name!}" required  lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">角色状态</label>
            <div class="layui-input-block">
                <select name="status" lay-search="" lay-verify="required" id="selectStatus">
                    <option value="">选择状态</option>
                    <#list roleStatus as status>
                        <#if (role.status!'') = status.code>
                        <option value="${status.code}" selected>${status.name}</option>
                        <#else >
                        <option value="${status.code}" >${status.name}</option>
                    </#if>
                    </#list>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">权限备注</label>
            <div class="layui-input-block">
                <input type="text"  name="remark" value="${role.remark!}"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="er-btn-div">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="fromSubmit">修改</button>
            <button class="layui-btn layui-btn-primary" type="button" onclick="top.window.layer.closeAll()">取消</button>
        </div>
    </form>
</div>

<script type="text/javascript">
    layui.use(['form', 'layedit', 'laydate'], function () {

        var form = layui.form
            , layer = layui.layer;
        //自定义验证规则
        form.verify({
            name: function (value) {
                if (value.length < 1) {
                    return '请输入角色名!';
                }
            },
            status: function (value) {
                if (value.length < 1) {
                    return '请选择角色!';
                }
            }
        });
        //监听提交
        form.on('submit(fromSubmit)', function (data) {
            /* 加载层 */
            top.window.layer.load(2);
            $.post("${domain}/role/updateRole", data.field, function (data, status) {
                if (data.code != 200) {
                    top.window.layer.alert('修改角色失败'+data.msg, {icon: 5});
                } else {
                    top.window.layer.alert('修改角色成功', {
                        icon: 1, yes: function (index, layero) {
                            $.reloadParentDom();
                            /* 关闭弹框 */
                            top.window.layer.closeAll();
                        }
                    })
                }
            });
            return false;
        });
    });

</script>
</body>
</html>